---
import ContactForm from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Us - Sassify">
  <Header />
  <main>
    <HeroSection
      title="Contáctanos"
      description="Estamos aquí para ayudarte con cualquier pregunta sobre el Speedcubing en Colombia. ¡No dudes en ponerte en contacto!"
    />
    <ContactForm />
  </main>
  <Footer />
</Layout>
