---
//const { buttonTitle } = Astro.props;
---
<!--<button
  id="alternador"
  class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-xl transition"
>
  {buttonTitle}
</button>-->


