---
const { linkTitle = "Default Title", linkDescription = "", linkUrl = "#" } = Astro.props
---

<div class='flex flex-col items-center justify-center w-full h-full'>
  <a href={linkUrl} class='w-full h-full flex items-center justify-center text-center w-full h-full'>
    <button class='w-full flex items-center justify-center p-4 bg-gradient-to-r from-blue-500 to-purple-500 text-white rounded-full shadow-lg hover:from-purple-500 hover:to-blue-500 transition-all duration-300 transform hover:scale-105 focus:outline-none hover:w-48'>
      <span class='font-semibold'>{linkTitle}{" "}</span>
    </button>
  </a>
</div>
