---
import { Icon } from 'astro-icon/components'
---

<div class='flex flex-row items-center justify-center w-full gap-y-8'>
  <style>
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #1a202c; /* Dark gray for better contrast */
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.5; 
      cursor: pointer;
      text-decoration: none;
      transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
      padding: 5px;
    }
    a:hover {
      transform: scale(1.2);
    }

    a svg {
      width: 2rem;
      height: 2rem;
    }
    a svg:hover {
      color: #2d3748; /* Darker gray on hover */
    } 
  </style>
  <a
    href='https://youtube.com/@speedcubingcolombiaofficial?si=0iLXDvl2H-q_ZcdF'
  >
    <Icon name='mdi:youtube' />
  </a>

  <a
    href='https://youtube.com/@speedcubingcolombiaofficial?si=0iLXDvl2H-q_ZcdF'
  >
    <Icon name='mdi:whatsapp' />
  </a>
  
  <a
    href='https://www.instagram.com/speedcubingcolombia?igsh=MXZlOHNkc3J2cTU1eA=='
  >
    <Icon name='mdi:instagram' />
  </a>
  
  <a
    href='https://www.instagram.com/speedcubingcolombia?igsh=MXZlOHNkc3J2cTU1eA=='
  >
    <Icon name='mdi:facebook' />
  </a>

</div>