---
import { Icon } from 'astro-icon/components'
---

<div class='flex justify-between w-5/6 mt-20 text-teal-300'>
  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://youtube.com/@speedcubingcolombiaofficial?si=0iLXDvl2H-q_ZcdF'
  >
    <Icon class='w-8 md:w-12 xl:w-14' name='mdi:youtube' />
  </a>

  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://youtube.com/@speedcubingcolombiaofficial?si=0iLXDvl2H-q_ZcdF'
  >
    <Icon class='w-8 md:w-12 xl:w-14' name='mdi:whatsapp' />
  </a>
  
  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://www.instagram.com/speedcubingcolombia?igsh=MXZlOHNkc3J2cTU1eA=='
  >
    <Icon class='w-8 md:w-12 xl:w-14' name='mdi:instagram' />
  </a>
  
</div>