---
import { Icon } from 'astro-icon/components'
---

<div class='mb-4 sm:mb-6 md:mb-10 lg:mb-16 justify-center'>
  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://youtube.com/@speedcubingcolombiaofficial?si=0iLXDvl2H-q_ZcdF'
  >
    <Icon name='mdi:youtube' />
  </a>

  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://youtube.com/@speedcubingcolombiaofficial?si=0iLXDvl2H-q_ZcdF'
  >
    <Icon name='mdi:whatsapp' />
  </a>
  
  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://www.instagram.com/speedcubingcolombia?igsh=MXZlOHNkc3J2cTU1eA=='
  >
    <Icon name='mdi:instagram' />
  </a>
  
  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://www.instagram.com/speedcubingcolombia?igsh=MXZlOHNkc3J2cTU1eA=='
  >
    <Icon name='mdi:facebook' />
  </a>

</div>