<div class='flex flex-col items-center justify-center w-full gap-y-6'>
  <slot />
  <img
        class='mb-4 h-36 lg:h-56 mx-auto'
        src='/favicon.svg'
        alt='Logotipo - Speecubing Colombia'
      />
</div>