<div class='text-center'>
  <img
    class='mb-4 rounded h-36 lg:h-56'
    src='/wca.png'
    alt='logo speecubing colombia'
  />
  <a
    href='https://www.worldcubeassociation.org'
    class='text-xl text-white transition-all duration-500 lg:text-2xl hover:text-teal-200'
    >wca</a
  >
</div>